<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743552126913-o5utusr1kbp608ssmsucejogfkhg7db9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743552126913-o5utusr1kbp608ssmsucejogfkhg7db9</string>
	<key>API_KEY</key>
	<string>AIzaSyBgzg6niiJAAE4cxyvBykUvJSuJaPHSFU4</string>
	<key>GCM_SENDER_ID</key>
	<string>743552126913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lacerdajoel.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e634c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e634c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743552126913:ios:c66fcd0cce0227219ae940</string>
</dict>
</plist>